@tailwind base;
@tailwind components;
@tailwind utilities;

.h-32rem {
  height: 32rem;
}

.top-136 {
  top: 136px;
}

.h-50vh {
  height: 50vh;
}

.leaflet-popup-content {
  width: 250px !important;
  margin: 0 0 13px 0  !important;
}

@media screen and (max-width: 768px) {
  .leaflet-popup-content {
    width: 150px !important;
  }
  
}